* {
	font-family: 'Roboto', sans-serif;
}

/*Custom Alignment Declarations*/

.v-center {
	display: flex;
	align-items: center;
}

.v-center-2 {
	display: flex;
	align-self: center;
}

.put-space-between {
	justify-content: space-between;
}

.move-to-right {
	display: flex;
	justify-content: flex-end;
}

.h-center {
	justify-content: center;
}

.text-center {
	text-align: center;
}

body {
	background-color: #555555;
}

/* Nav Pills Styling */

.nav-pills-ul {
	background-color: rgb(58, 58, 58);
	box-shadow: #292828 1px 5px 11px 0px;
	color: white;
	justify-content: flex-start;
}

.nav-pills-ul:hover {
	background-color: rgb(58, 58, 58);
	box-shadow: #292828 1px 5px 11px 0px;
}

.nav-pills-ul > li > a {
	color: white;
	background-color: rgb(58, 58, 58);
}

.nav-pills-ul > li > a.active {
	color: white;
	background-color: rgb(58, 58, 58) !important;
	border-radius: 0px;
	border-bottom: 4px #890000 solid;
}



/* Tab Content Styling */

/* Groups */

div.about-img {
	background-color: white;
}

.about-img > img {
	width: 100%;
	padding-bottom: 0px;
}

.group-name {
	font-size: 20px;
	color: white;
	background-color: #292828;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Members' Profile */

.member-img {
	padding: 0px;
}

.member-img > img {
	width: 100%;
	padding-bottom: 0px;
	background-color: white;
}

.member-name {
	font-size: 15px;
	color: white;
	background-color: #292828;
	padding-top: 15px;
	padding-bottom: 5px;
}

.member-social {
	list-style-type: none;
	padding: 0px;
}

.member-social > li > a {
	text-decoration: none;
	color: white;
	padding: 0px 5px 0px 5px;
}
